.admin-panel {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Sidebar 1/4 y main-content 3/4 */
  background-color: #dbdbdb;
  height: 100%;
}

.sidebar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}

.user-details {
  text-align: center;
}

.user-details p:first-child {
  font-weight: bold;
  margin: 0;
}

.user-details p:last-child {
  color: #666;
  margin: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.4s ease-in;
}

.menu a:hover {
  background-color: #1284ff;
  color: #fff;
}

.menu a.active {
  background-color: #0056b3;
  color: #fff;
}

.logout-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.4s ease-in;
}

.logout-button:hover {
  background-color: #0056b3;
}

/* Mantener los estilos generales intactos */

.main-content {
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

.usuarios h2 {
  margin-bottom: 20px;
}

.usuarios .header {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 20px;
}

/* ESTILOS GENERALES PARA LAS TABLAS Y BOTONES */

.table-container {
  margin-top: 2rem;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 20px;
}

.actions button,
.add-button,
.edit-button,
.delete-button,
.report-button {
  padding: 11px 20px;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.add-button {
  background-color: #59b969;
}

.edit-button {
  background-color: #5a75d3;
}

.delete-button {
  background-color: #8a2c2c;
}

.report-button {
  background-color: #ff9800;
}

.table-title {
  color: #333;
}

th,
td {
  color: #4e4e4e;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  text-align: center;
}

tr td:nth-last-child(1) button {
  margin-left: 20px;
}
