/* src/components/Panel/ProductManagement/ProductManagement.css */

.product-management {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.management-title {
  color: #333;
  font-size: 28px;
  font-weight: bolder;
  padding: 25px;
}

.sub-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 250px;
  align-content: center;
}

.sub-menu button {
  padding: 25px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #acc4da;
  color: #ffffff;
  font-weight: 600;
}

.sub-menu button:nth-child(1) {
  background-color: #8f2929;
}

.sub-menu button:nth-child(2) {
  background-color: #408b5e;
}

.sub-menu button:nth-child(3) {
  background-color: #aeaf58;
}

.sub-menu button:hover {
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.4s ease-in;
}

.sub-content {
  padding: 20px;
}

.sub-content .back-button {
  background-color: #7e7878;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
}

.sub-content .back-button:hover {
  background-color: #0056b3;
  color: #ffffff;
  transition: background-color 0.4s ease-in;
}
